@model OnlineLearning.Core.DTOs.UserViewModel

<div style="direction: rtl; padding: 20px">
    <h2>@Model.Username عزیز !</h2>
    <p>
       جهت بازیابی حساب کاربری خود روی لینک زیر کلیک کنید
    </p>
    <p>
        <a href="https://localhost:7066/Account/ResetPassword/@Model.ActiveCode">بازیابی کلمه عبور</a>
    </p>
</div>
