<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title> Learnify| @ViewData["Title"] </title>
    <partial name="~/Views/Shared/PartialViews/_MetaTags.cshtml" />
    <partial name="~/Views/Shared/PartialViews/_Styles.cshtml" />
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <script src="/js/modernizr-custom.js"></script>

    <div class="landing-layer">
        <div class="container">
            <nav>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <ul>
                            <li>
                                <a href=""> همکاری در فروش </a>
                                <a href=""> درباره ما </a>
                                <a href=""> تماس با ما </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="clientarea">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="loggein hidden">
                                    <i class="zmdi zmdi-account"></i><a href=""> @User.Identity.Name ، خوش آمدی </a>
                                    /
                                    <a asp-action="Logout" asp-controller="Account"> خروج </a>
                                </div>
                            }
                            else
                            {
                                <div class="signin">
                                    <i class="zmdi zmdi-account"></i>
                                    <a asp-action="Login" asp-controller="Account"> ورود </a> /
                                    <a asp-action="Register" asp-controller="Account"> عضویت </a>
                                </div>
                            }
                           
                        </div>
                    </div>
                </div>
            </nav>
            @RenderSection("SearchBox", false)
        </div>
    </div>

    <!-- main manu -->
    <partial name="~/Views/Shared/PartialViews/_MainMenu.cshtml" />
    <!-- /main manu -->
    <!-- content -->
    @RenderBody()
    <!-- /content -->
    <!-- footer -->
    <partial name="~/Views/Shared/PartialViews/_Footer.cshtml" />
    <!-- /footer -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
